<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <style>  div {  padding-bottom: 1px;   }   </style>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/{{bokeh_version}}/bokeh.min.js"></script>

<body>
    <form method="post">
    <div class="container">
      <div class="row">
          <label class="col-sm-6"><h2>{{title}}</h2></label>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ scatter_div|safe }}
          {{ scatter_script|safe }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ hist_div|safe }}
          {{ hist_script|safe }}
        </div>
      </div>
    </div>
    </form>
</body>

</html>


